.swiper {
  width: 90%;
  padding-top: 50px;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 145px;
  border-radius: 12px 0px 0px 12px;
  background: var(--neutral-dark, #152742);
  height: 563px;
}
.swiper-slide .Slide__Number h2 {
  margin: -267px 0px 0px 0px;
}
.swiper-slide .Descript__slider {
  position: absolute;
  top: 68%;
  left: 10%;
}
.swiper-slide .Descript__slider .See__all a {
  margin-top: 1px;
  color: var(--neutral-white, #FFF);
}
.swiper-slide .Slide__Number {
  margin: -6px 0px 0px 60px;
}

.swiper-slide-active {
  position: relative;
  overflow: hidden;
  height: 640px;
  border-radius: 12px;
  background: var(--neutral-dark-green, #06516E);
  box-shadow: 0px 66px 80px -16px rgba(6, 81, 110, 0.33);
  margin: -15px 0px 0px 0px;
}
.swiper-slide-active .Descript__slider {
  position: absolute;
  top: 59%;
  left: 12%;
}
.swiper-slide-active .Descript__slider .See__all a {
  margin-top: -7px;
}
.swiper-slide-active .Slide__Number {
  top: -5%;
  left: 1%;
  position: absolute;
  gap: 74px;
}
.swiper-slide-active .Slide__Number h2 {
  margin: -30px 0px 0px 0px;
}
.swiper-slide-active .PhotoSlide {
  position: relative;
  width: 356px;
  height: 356px;
  border-radius: 50%;
  background: url("../../img/logo.jpg") no-repeat;
  background-size: cover;
  margin: 0px 0px 0px 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.Swiper__box {
  margin-top: -10px;
  background: var(--neutral-black, #020E20);
}

.Swiper__control {
  display: flex;
  padding: 154px 0px 126px 69px;
}
.Swiper__control .button__control {
  padding-top: 37px;
  gap: 56px;
}
.Swiper__control .swiper-pagination {
  margin-top: 56px;
  margin-left: 61px;
  margin-right: 80px;
  background: #35517D;
}
.Swiper__control .swiper-pagination-progressbar-fill {
  background: #FFF;
}

.Swiper__title {
  color: aliceblue;
  width: 953px;
  margin-right: 224px;
}
.Swiper__title h2 {
  color: var(--neutral-white, #FFF);
  font-family: Cabinet Grotesk;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
}
.Swiper__title h3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.swiper-pagination {
  max-width: 120px;
  position: relative;
  display: flex;
}

.swiper-wrapper {
  align-items: center;
}

.button-next {
  background: url("../../img/icon/arrow-right.png");
  width: 48px;
  height: 48px;
}

.button-prev {
  background: url("../../img/icon/arrow-left.png");
  width: 48px;
  height: 48px;
}

.button__control {
  display: flex;
  flex-direction: row-reverse;
}

.Slide__Number {
  display: flex;
  align-items: center;
}
.Slide__Number h2 {
  color: rgba(255, 255, 255, 0.2);
  font-family: Cabinet Grotesk;
  font-size: 120px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 48px 74px 0px 0px;
}

.Descript__slider h2 {
  color: var(--neutral-white, #FFF);
  font-family: Cabinet Grotesk;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  white-space: normal;
  width: 300px;
}
.Descript__slider .See__all {
  white-space: nowrap;
}/*# sourceMappingURL=swiper.css.map */